<div class="row" style="margin-top: 10px" ng-init="adminCtrl.fetchQuizData()">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="adminCtrl.fetchQuizData()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href=""
                           ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE'])"
                           ng-click="adminCtrl.newQuiz()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'انشاء اختبار جديدة' : 'New Quiz...'}}">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">قائمة الاختبارات</h3>
                    <h3 ng-if="lang==='EN'">Quizzes List</h3>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table st-table="collection1" st-safe-src="adminCtrl.quizzes"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>

                            <th st-sort="code">
                                <span ng-if="lang==='AR'">رقم الاختبار</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th st-sort="name">
                                <span ng-if="lang==='AR'">اسم الاختبار</span>
                                <span ng-if="lang==='EN'">Name</span>
                            </th>

                            <th st-sort="description">
                                <span ng-if="lang==='AR'">وصف مختصر</span>
                                <span ng-if="lang==='EN'">Description</span>
                            </th>

                            <th st-sort="subject.name">
                                <span ng-if="lang==='AR'">المادة</span>
                                <span ng-if="lang==='EN'">Subject</span>
                            </th>

                            <th st-sort="lastUpdate">
                                <span ng-if="lang==='AR'">تاريخ آخر عملية</span>
                                <span ng-if="lang==='EN'">Last Action Date</span>
                            </th>

                            <th st-sort="lastPerson">
                                <span ng-if="lang==='AR'">بواسطة</span>
                                <span ng-if="lang==='EN'">Created By</span>
                            </th>

                        </tr>
                        <tr>
                            <th colspan="7">
                                <input st-search=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                       type="text"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="quiz in collection1"
                            ng-class="{'mdl-shadow--8dp-reverse' : quiz.isSelected}">
                            <td st-select-row-multi="quiz">{{$index+1}}</td>
                            <td st-select-row-multi="quiz">{{quiz.code}}</td>
                            <td st-select-row-multi="quiz">{{quiz.content}}</td>
                            <td st-select-row-multi="quiz">{{quiz.description}}</td>
                            <td st-select-row-multi="quiz">{{quiz.category.name}}</td>
                            <td st-select-row-multi="quiz">
                                <span ng-show="dateType==='H'">{{quiz.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{quiz.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                            </td>
                            <td st-select-row-multi="quiz">{{quiz.lastPerson.name}}</td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="quiz.isSelected" class="mdl-shadow--8dp">
                            <td colspan="7">
                                <div class="form-group row">
                                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.refreshQuiz(quiz)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">cached</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف الاختبار' : 'Delete Quiz'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.deleteQuiz(quiz)"
                                            ng-if="contains(me.team.authorities, ['ROLE_QUIZ_DELETE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف اجابات الاختبار' : 'Delete Quiz Trainers'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.deleteSummariesByQuiz(quiz)"
                                            ng-if="contains(me.team.authorities, ['ROLE_SUMMERY_DELETE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'اختبار متدرب جديدة' : 'New Trainer'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.newSummary(quiz)"
                                            ng-if="contains(me.team.authorities, ['ROLE_SUMMERY_CREATE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">assignment_turned_in</i>
                                    </button>
                                </div>
                                <div class="form-group row">

                                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                                        <div class="mdl-tabs__tab-bar">

                                            <a href="#panel-1-{{$index}}" class="mdl-tabs__tab is-active">
                                                <span ng-if="lang==='AR'">المتدربين</span>
                                                <span ng-if="lang==='EN'">Trainers</span>
                                            </a>

                                        </div>

                                        <div class="mdl-tabs__panel is-active" id="panel-1-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table st-table="collectionQuizSummaries"
                                                           st-safe-src="quiz.summaries"
                                                           class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>

                                                            <th st-sort="person.name">
                                                                <span ng-if="lang==='AR'">المتدرب</span>
                                                                <span ng-if="lang==='EN'">Trainer</span>
                                                            </th>

                                                            <th st-sort="lastUpdate">
                                                                <span ng-if="lang==='AR'">تاريخ آخر عملية</span>
                                                                <span ng-if="lang==='EN'">Last Action Date</span>
                                                            </th>

                                                            <th st-sort="lastPerson">
                                                                <span ng-if="lang==='AR'">بواسطة</span>
                                                                <span ng-if="lang==='EN'">Created By</span>
                                                            </th>

                                                            <th>Action</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="summary in collectionQuizSummaries">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <strong>{{summary.person.name}}</strong>
                                                            </td>
                                                            <td>
                                                                <span ng-show="dateType==='H'">{{summary.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                                <span ng-show="dateType==='G'">{{summary.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                                                            </td>
                                                            <td>{{summary.lastPerson.name}}</td>
                                                            <td>
                                                                <div class="form-group row">
                                                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                                                            tooltip-append-to-body="true"
                                                                            type="button"
                                                                            ng-click="adminCtrl.deleteSummary(summary)"
                                                                            ng-if="contains(me.team.authorities, ['ROLE_SUMMERY_DELETE'])"
                                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                                        <i class="material-icons">delete</i>
                                                                    </button>
                                                                    <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                                                                            tooltip-append-to-body="true"
                                                                            type="button"
                                                                            ng-click="adminCtrl.updateSummary(summary)"
                                                                            ng-if="contains(me.team.authorities, ['ROLE_SUMMERY_UPDATE'])"
                                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="blank_row"
                                                            style="height: 10px !important; background-color: #FFFFFF;"
                                                            ng-show="!collectionQuizSummaries || collectionQuizSummaries.length ==0">
                                                            <td colspan="4">
                                                                <strong>
                                                                    <a href=""
                                                                       ng-if="contains(me.team.authorities, ['ROLE_SUMMERY_CREATE'])"
                                                                       ng-click="adminCtrl.newSummary(quiz)">
                                                                        <span ng-if="lang==='AR'">اختبار متدرب جديد...</span>
                                                                        <span ng-if="lang==='EN'">New Trainer...</span>
                                                                    </a>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length ==0">
                            <td colspan="7">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===2">
        <div st-table="collection2" st-safe-src="adminCtrl.quizzes">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="quiz in collection2">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img width="100" height="100"
                                 src="/ui/img/no-image.jpg"
                                 alt="{{quiz.name}}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">
                                {{quiz.name}}
                            </div>
                        </div>
                        <div class="profile-controls">
                            <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                            <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="contact-info">
                            <p class="text-overflow-dots">
                                <strong ng-if="lang==='AR'">وصف الاختبار</strong>
                                <strong ng-if="lang==='EN'">Description</strong>
                                {{quiz.description}}
                            </p>
                            <hr>
                            <p class="text-overflow-dots">
                                <strong ng-if="lang==='AR'">بواسطة</strong>
                                <strong ng-if="lang==='EN'">Created By</strong>
                                {{quiz.lastPerson.name}}
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <button uib-tooltip="{{lang==='AR' ? 'انشاء اختبار جديد' : 'New...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE'])"
                                    ng-click="adminCtrl.newQuiz();"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">add</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUIZ_UPDATE'])"
                                    ng-click="ModalProvider.openQuizUpdateModel(quiz)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">edit</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUIZ_DELETE'])"
                                    ng-click="adminCtrl.deleteQuiz(quiz)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>

</div>