<div class="row" style="margin-top: 10px" ng-init="adminCtrl.fetchCategoryData()">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="adminCtrl.fetchCategoryData()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href=""
                           ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_CREATE'])"
                           ng-click="adminCtrl.newCategory()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'انشاء مادة جديدة' : 'New Category...'}}">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">قائمة المواد</h3>
                    <h3 ng-if="lang==='EN'">Subjects List</h3>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table st-table="collection1" st-safe-src="adminCtrl.categories"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>

                            <th st-sort="code">
                                <span ng-if="lang==='AR'">رقم المادة</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th st-sort="name">
                                <span ng-if="lang==='AR'">اسم المادة</span>
                                <span ng-if="lang==='EN'">Name</span>
                            </th>

                            <th st-sort="description">
                                <span ng-if="lang==='AR'">وصف مختصر</span>
                                <span ng-if="lang==='EN'">Description</span>
                            </th>

                            <th st-sort="lastUpdate">
                                <span ng-if="lang==='AR'">تاريخ آخر عملية</span>
                                <span ng-if="lang==='EN'">Last Action Date</span>
                            </th>

                            <th st-sort="lastPerson">
                                <span ng-if="lang==='AR'">بواسطة</span>
                                <span ng-if="lang==='EN'">Created By</span>
                            </th>

                        </tr>
                        <tr>
                            <th colspan="6">
                                <input st-search=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                       type="text"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in collection1"
                            st-select-mode="single"
                            context-menu="adminCtrl.rowMenuCategory"
                            ng-click="adminCtrl.setSelectedCategory(category)"
                            ng-right-click="adminCtrl.setSelectedCategory(category)">
                            <td st-select-row-custom="category">{{$index+1}}</td>
                            <td st-select-row-custom="category">{{category.code}}</td>
                            <td st-select-row-custom="category">{{category.name}}</td>
                            <td st-select-row-custom="category">{{category.description}}</td>
                            <td st-select-row-custom="category">
                                <span ng-show="dateType==='H'">{{category.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{category.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                                <span class="label label-success">{{category.lastUpdate | date:'h:m a'}}</span>
                            </td>
                            <td st-select-row-custom="category">{{category.lastPerson.name}}</td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length ==0">
                            <td colspan="6">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===2">
        <div st-table="collection2" st-safe-src="adminCtrl.categories">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="category in collection2">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img width="100" height="100"
                                 src="/ui/img/no-image.jpg"
                                 alt="{{category.name}}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">
                                {{category.name}}
                            </div>
                        </div>
                        <div class="profile-controls">
                            <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                            <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="contact-info">
                            <p>
                                <strong ng-if="lang==='AR'">وصف المادة</strong>
                                <strong ng-if="lang==='EN'">Description</strong>
                                {{category.description}}
                            </p>
                            <hr>
                            <p>
                                <strong ng-if="lang==='AR'">بواسطة</strong>
                                <strong ng-if="lang==='EN'">Created By</strong>
                                {{category.lastPerson.name}}
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <button uib-tooltip="{{lang==='AR' ? 'انشاء مادة جديد' : 'New...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_CREATE'])"
                                    ng-click="adminCtrl.newCategory();"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">add</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_UPDATE'])"
                                    ng-click="ModalProvider.openCategoryUpdateModel(category)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">edit</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_DELETE'])"
                                    ng-click="adminCtrl.deleteCategory(category)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>

</div>