<nav class="mdl-navigation">
    <a class="mdl-navigation__link mdl-menu__item mdl-list__item mdl-navigation__link-active mdl-color--primary"
       href="" ui-sref="admin.category"
       ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_CREATE', 'ROLE_CATEGORY_UPDATE', 'ROLE_CATEGORY_DELETE'])">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">class</i>
            <span ng-if="lang==='AR'">المواد</span>
            <span ng-if="lang==='EN'">SUBJECTS</span>
        </span>
    </a>
    <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
       href="" ui-sref="admin.quiz"
       ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE', 'ROLE_QUIZ_UPDATE', 'ROLE_QUIZ_DELETE'])">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">assignment</i>
            <span ng-if="lang==='AR'">الاختبارات</span>
            <span ng-if="lang==='EN'">QUIZZES</span>
        </span>
    </a>
    <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
       href="" ui-sref="admin.question"
       ng-if="contains(me.team.authorities, ['ROLE_QUESTION_CREATE', 'ROLE_QUESTION_UPDATE', 'ROLE_QUESTION_DELETE'])">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">hourglass_empty</i>
            <span ng-if="lang==='AR'">الاسئلة</span>
            <span ng-if="lang==='EN'">QUESTIONS</span>
        </span>
    </a>
    <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
       href="" ui-sref="admin.team"
       ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">security</i>
            <span ng-if="lang==='AR'">الصلاحيات</span>
            <span ng-if="lang==='EN'">PRIVILEGES</span>
        </span>
    </a>
    <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
       href="" ui-sref="admin.person"
       ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE'])">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">contacts</i>
            <span ng-if="lang==='AR'">المستخدمون</span>
            <span ng-if="lang==='EN'">USERS</span>
        </span>
    </a>
</nav>