<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x mdl-color-text--white"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="quiz" class="control-label">
                    <span ng-if="lang==='AR'">الاختبار</span>
                    <span ng-if="lang==='EN'">Quiz</span>
                </label>
                <ui-select id="quiz"
                           ng-model="question.quiz"
                           required="required"
                           disable-validation-message=""
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر الاختبار">
                        <span ng-if="question.quiz.id">[{{$select.selected.code}}] {{$select.selected.content}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="quiz in quizzes | filter: $select.search | orderBy:'code' track by quiz.id">
                        <div ng-bind-html="quiz.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="contentType" class="control-label">
                    <span>نوع المحتوى</span>
                </label>
                <select id="contentType"
                        class="form-control"
                        required="required"
                        disable-validation-message=""
                        ng-model="question.contentType">
                    <option value="HTML">ترميز</option>
                    <option value="TEXT">نص</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="question.contentType==='TEXT'">
                <label for="content" class="control-label">
                    <span ng-if="lang==='AR'">السؤال</span>
                    <span ng-if="lang==='EN'">Question</span>
                </label>
                <textarea id="content"
                          type="text"
                          msd-elastic="\n"
                          ng-class="{'force-dir-ltr' : (question.contentType==='HTML'), 'force-dir-rtl' : (question.contentType==='TEXT')}"
                          class="form-control"
                          required="required"
                          disable-validation-message=""
                          ng-model="question.content">
                </textarea>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="question.contentType==='HTML'">
                <text-angular ng-model="question.content"></text-angular>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="description" class="control-label">
                    <span ng-if="lang==='AR'">ملاحظات</span>
                    <span ng-if="lang==='EN'">Note</span>
                </label>
                <textarea id="description"
                          type="text"
                          msd-elastic="\n"
                          class="form-control"
                          ng-model="question.description">
                </textarea>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>