<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-body">

        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
             class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <button id="trainee-menu-lower-right" style="width: 100%;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <span ng-if="lang==='AR'">العمليات</span>
                <span ng-if="lang==='EN'">Actions</span>
            </button>
            <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                for="trainee-menu-lower-right">

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="findAllTrainees()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">visibility</i>
                        <span ng-if="lang==='AR'">عرض كل المتدربين</span>
                        <span ng-if="lang==='EN'">Read All Trainees</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="openFilterTrainee()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">search</i>
                        <span ng-if="lang==='AR'">بحث</span>
                        <span ng-if="lang==='EN'">Search</span>
                    </span>
                </li>

                <div class="mdl-menu__item--full-bleed-divider"></div>

                <li class="mdl-menu__item mdl-list__item" ng-click="newTrainee();"
                    ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء متدرب جديد</span>
                        <span ng-if="lang==='EN'">New...</span>
                    </span>
                </li>
            </ul>
        </div>

        <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
             ng-init="toggleList=1">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=1"
                            ng-class="{'active':toggleList===1}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">reorder</i>
                    </button>
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=2"
                            ng-class="{'active':toggleList===2}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">view_column</i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterTrainee()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_CREATE'])"
                       ng-click="newTrainee()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب متدرب جديد' : 'New Trainee...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة المتدربين</h3>
                <h3 ng-if="lang==='EN'">Trainees List</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">

            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="trainees"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <span>#</span>
                        </th>

                        <th st-sort="code" class="info">
                            <span ng-if="lang==='AR'">رقم المتدرب</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="contact.name">
                            <span ng-if="lang==='AR'">اسم المتدرب</span>
                            <span ng-if="lang==='EN'">Name</span>
                        </th>

                        <th st-sort="enabled">
                            <span ng-if="lang==='AR'">حالة الحساب</span>
                            <span ng-if="lang==='EN'">Account Condition</span>
                        </th>

                        <th st-sort="contact.email">
                            <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                            <span ng-if="lang==='EN'">Email</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="trainee in collection1"
                        st-select-mode="multiple"
                        context-menu="rowMenuTrainee"
                        ng-dblclick="ModalProvider.openTraineeDetailsModel(trainee)"
                        ng-init="trainee.isSelected=false">
                        <td st-select-row-multi="trainee">{{$index+1}}</td>
                        <td st-select-row-multi="trainee" ng-class="{'info' : trainee.isSelected===false}">{{trainee.code}}</td>
                        <td st-select-row-multi="trainee">{{trainee.contact.name}}</td>
                        <td st-select-row-multi="trainee">
                            <span ng-if="lang==='AR'">{{trainee.enabledInArabic}}</span>
                            <span ng-if="lang==='EN'">{{trainee.enabledInEnglish}}</span>
                        </td>
                        <td st-select-row-multi="trainee">{{trainee.contact.email}}</td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="5">
                            <a href=""
                               ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_CREATE'])"
                               ng-click="newTrainee()">
                                <span ng-if="lang==='AR'">حساب جديد...</span>
                                <span ng-if="lang==='EN'">New Account...</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterTrainee()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_CREATE'])"
                       ng-click="newTrainee()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب متدرب جديد' : 'New Trainee...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة المتدربين</h3>
                <h3 ng-if="lang==='EN'">Trainees List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div st-table="collection2" st-safe-src="trainees">

                <div class="form-group row">

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="trainee in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/trainee.png"
                                         alt="{{trainee.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{trainee.contact.name}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                    <h5 ng-if="lang==='AR'">اسم المتدرب</h5>
                                    <h5 ng-if="lang==='EN'">Company Name</h5>
                                    {{trainee.person.contact.name}}
                                    </p>
                                    <hr>
                                    <p>
                                    <h5 ng-if="lang==='AR'">رقم الجوال</h5>
                                    <h5 ng-if="lang==='EN'">Manager Name</h5>
                                    {{trainee.person.contact.mobile1}}  {{trainee.person.contact.mobile1}}
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء متدرب جديد' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_CREATE'])"
                                            ng-click="newTrainee();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_UPDATE'])"
                                            ng-click="ModalProvider.openTraineeUpdateModel(trainee)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_TRAINEE_DELETE'])"
                                            ng-click="deleteTrainee(trainee)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>

                </div>

                <div class="form-group row">

                    <tfoot>
                    <tr>
                        <td>
                            <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>

                </div>

            </div>

        </div>
    </div>

</div>