<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-body">

        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
             class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <button id="trainee-menu-lower-right" style="width: 100%;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <span ng-if="lang==='AR'">العمليات</span>
                <span ng-if="lang==='EN'">Actions</span>
            </button>
            <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                for="trainee-menu-lower-right">

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="openFilterQuiz()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">search</i>
                        <span ng-if="lang==='AR'">بحث</span>
                        <span ng-if="lang==='EN'">Search</span>
                    </span>
                </li>

                <div class="mdl-menu__item--full-bleed-divider"></div>

                <li class="mdl-menu__item mdl-list__item" ng-click="newCategory();"
                    ng-if="contains(me.team.authorities, ['ROLE_CATEGORY_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء مادة جديدة</span>
                        <span ng-if="lang==='EN'">New Subject...</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item" ng-click="newQuiz();"
                    ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء اختبار جديد</span>
                        <span ng-if="lang==='EN'">New Quiz...</span>
                    </span>
                </li>

            </ul>
        </div>

        <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
             ng-init="toggleList=1">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=1"
                            ng-class="{'active':toggleList===1}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">reorder</i>
                    </button>
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=2"
                            ng-class="{'active':toggleList===2}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">view_column</i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="fetchQuizData()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE'])"
                       ng-click="newQuiz()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء اختبار جديدة' : 'New Quiz...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الاختبارات</h3>
                <h3 ng-if="lang==='EN'">Quizzes List</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="quizzes"
                       class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <span>#</span>
                        </th>

                        <th st-sort="code">
                            <span ng-if="lang==='AR'">رقم الاختبار</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="content">
                            <span ng-if="lang==='AR'">الموضوع</span>
                            <span ng-if="lang==='EN'">Topic</span>
                        </th>

                        <th st-sort="note">
                            <span ng-if="lang==='AR'">ملاحظات</span>
                            <span ng-if="lang==='EN'">Notes</span>
                        </th>

                        <th st-sort="category.name">
                            <span ng-if="lang==='AR'">المادة</span>
                            <span ng-if="lang==='EN'">Subject</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="quiz in collection1"
                        st-select-mode="multiple"
                        context-menu="rowMenuQuiz"
                        ng-dblclick="ModalProvider.openQuizDetailsModel(quiz)"
                        ng-init="quiz.isSelected=false">
                        <td st-select-row-multi="quiz">{{$index+1}}</td>
                        <td st-select-row-multi="quiz">{{quiz.code}}</td>
                        <td st-select-row-multi="quiz">{{quiz.content}}</td>
                        <td st-select-row-multi="quiz">{{quiz.note}}</td>
                        <td st-select-row-multi="quiz">{{quiz.category.name}}</td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="5">
                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                            <span ng-if="lang==='EN'">No Data Found.</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div st-table="collection2" st-safe-src="quizzes">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="quiz in collection2">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img width="100" height="100"
                             src="/ui/img/quiz.png"
                             alt="{{quiz.code}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">
                            {{quiz.code}}
                        </div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                        <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info">
                        <p class="text-overflow-dots">
                            <strong ng-if="lang==='AR'">الموضوع</strong>
                            <strong ng-if="lang==='EN'">Topic</strong>
                            {{quiz.content}}
                        </p>
                        <hr>
                        <p class="text-overflow-dots">
                            <strong ng-if="lang==='AR'">المادة</strong>
                            <strong ng-if="lang==='EN'">Subject</strong>
                            {{quiz.category.name}}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="{{lang==='AR' ? 'انشاء اختبار جديد' : 'New...'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_QUIZ_CREATE'])"
                                ng-click="newQuiz();"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">add</i>
                        </button>
                        <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_QUIZ_UPDATE'])"
                                ng-click="ModalProvider.openQuizUpdateModel(quiz)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">edit</i>
                        </button>
                        <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_QUIZ_DELETE'])"
                                ng-click="deleteQuiz(quiz)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
</div>