<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <form name="from"
          ng-submit="submitProfile()"
          novalidate="novalidate"
          focus-group="" focus-stack=""
          focus-group-head="loop"
          focus-group-tail="loop">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                         ng-show="form.$invalid && form.$submitted">
                        <div class="alert alert-danger" role="alert">
                            <strong>فضلاً اكمل الحقول المطلوبة</strong>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span ng-if="lang==='AR'">البيانات الاساسية</span>
                                <span ng-if="lang==='EN'">Basic Information</span>
                            </div>
                            <div class="panel-body">

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactName" class="control-label">
                                            <span ng-if="lang==='AR'">اسم المتدرب</span>
                                            <span ng-if="lang==='EN'">Trainee Name</span>
                                        </label>
                                        <input id="contactName"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.name">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactMobile1" class="control-label">
                                            <span ng-if="lang==='AR'">رقم الجوال 1</span>
                                            <span ng-if="lang==='EN'">Mobile 1</span>
                                        </label>
                                        <input id="contactMobile1"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.mobile1">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactMobile1" class="control-label">
                                            <span ng-if="lang==='AR'">رقم الجوال 2</span>
                                            <span ng-if="lang==='EN'">Mobile 2</span>
                                        </label>
                                        <input id="contactMobile2"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.mobile2">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactPhone1" class="control-label">
                                            <span ng-if="lang==='AR'">رقم الهاتف 1</span>
                                            <span ng-if="lang==='EN'">Phone 1</span>
                                        </label>
                                        <input id="contactPhone1"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.phone1">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactPhone2" class="control-label">
                                            <span ng-if="lang==='AR'">رقم الهاتف 2</span>
                                            <span ng-if="lang==='EN'">Phone 2</span>
                                        </label>
                                        <input id="contactPhone2"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.phone2">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactEmail" class="control-label">
                                            <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                                            <span ng-if="lang==='EN'">Email</span>
                                        </label>
                                        <input id="contactEmail"
                                               type="email"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.email">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactCity" class="control-label">
                                            <span ng-if="lang==='AR'">المدينة</span>
                                            <span ng-if="lang==='EN'">City</span>
                                        </label>
                                        <input id="contactCity"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.city">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactPostalCode" class="control-label">
                                            <span ng-if="lang==='AR'">الرمز البريدي</span>
                                            <span ng-if="lang==='EN'">Postal Code</span>
                                        </label>
                                        <input id="contactPostalCode"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.postCode">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label for="contactCountry" class="control-label">
                                            <span ng-if="lang==='AR'">الدولة</span>
                                            <span ng-if="lang==='EN'">Country</span>
                                        </label>
                                        <input id="contactCountry"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.country">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label for="contactWebsite" class="control-label">
                                            <span ng-if="lang==='AR'">الموقع الإلكتروني</span>
                                            <span ng-if="lang==='EN'">Website</span>
                                        </label>
                                        <input id="contactWebsite"
                                               type="text"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="me.contact.website">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="userName" class="control-label">
                                            <span ng-if="lang==='AR'">اسم المستخدم</span>
                                            <span ng-if="lang==='EN'">User Name</span>
                                        </label>
                                        <input id="userName"
                                               type="text"
                                               required="required"
                                               disable-validation-message=""
                                               placeholder="{{lang==='AR' ? 'اذكر اسم المستخدم...' : 'Type Account User Name...'}}"
                                               class="form-control"
                                               ng-model="me.userName">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="password" class="control-label">
                                            <span ng-if="lang==='AR'">الرقم السري</span>
                                            <span ng-if="lang==='EN'">Password</span>
                                        </label>
                                        <input id="password"
                                               type="password"
                                               required="required"
                                               disable-validation-message=""
                                               placeholder="{{lang==='AR' ? 'اذكر كلمة المرور...' : 'Type Account Password...'}}"
                                               class="form-control"
                                               ng-model="me.password">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                                    <li>
                                        <a href=""
                                           ng-click="browseProfilePhoto()"
                                           tooltip-append-to-body="true"
                                           uib-tooltip="تحميل">
                                            <span class="fa fa-paperclip"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                    <h3 ng-if="lang==='AR'">الصورة الشخصية</h3>
                                    <h3 ng-if="lang==='EN'">Account Photo</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <input id="uploader-company" style="display: none" type="file" accept="image/*" onchange="angular.element(this).scope().uploadPersonPhoto(this.files)"/>
                                <img ng-src="{{me.contact.photo}}" style="width: 100%; height: 100%"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <button tooltip-append-to-body="true"
                            type="submit"
                            ng-class="{'pull-left': lang==='AR', 'pull-right' : lang==='EN'}"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">save</i>
                                <span ng-if="lang==='AR'">حفظ البيانات</span>
                                <span ng-if="lang==='EN'">Save</span>
                            </span>
                    </button>

                </div>

            </div>
        </div>

    </form>

</div>