<div class="row" style="margin-top: 10px" ng-init="adminCtrl.fetchTeamData()">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="adminCtrl.fetchTeamData()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href=""
                           ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE'])"
                           ng-click="adminCtrl.newTeam()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'انشاء مجموعة جديدة' : 'New Team...'}}">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">قائمة الصلاحيات</h3>
                    <h3 ng-if="lang==='EN'">Teams List</h3>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table st-table="collection1"
                           st-safe-src="adminCtrl.teams"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>
                            <th>
                                <span ng-if="lang==='AR'">رقم المجموعة</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>
                            <th>
                                <span ng-if="lang==='AR'">اسم المجموعة</span>
                                <span ng-if="lang==='EN'">Name</span>
                            </th>
                            <th>
                                <span ng-if="lang==='AR'">عدد المستخدمين</span>
                                <span ng-if="lang==='EN'">Users Count</span>
                            </th>

                        </tr>
                        <tr>
                            <th colspan="5">
                                <input st-search=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                       type="text"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="team in collection1"
                            context-menu="adminCtrl.rowMenuTeam"
                            ng-click="adminCtrl.setSelectedTeam(team)"
                            ng-right-click="adminCtrl.setSelectedTeam(team)"
                            st-select-mode="single">
                            <td st-select-row-custom="team">{{$index+1}}</td>
                            <td st-select-row-custom="team">{{team.code}}</td>
                            <td st-select-row-custom="team">{{team.name}}</td>
                            <td st-select-row-custom="team">{{team.persons.length}}</td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length ==0">
                            <td colspan="5">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===2">
        <div st-table="collection2" st-safe-src="adminCtrl.teams">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-repeat="team in collection2">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img width="100" height="100"
                                 src="/ui/img/no-image.jpg"
                                 alt="{{team.name}}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">{{team.name}}</div>
                        </div>
                        <div class="profile-controls">
                            <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                            <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="contact-info">
                            <p>
                                <strong ng-if="lang==='AR'">رقم المجموعة</strong>
                                <strong ng-if="lang==='EN'">Code</strong>
                                {{team.code}}
                            </p>
                            <hr>
                            <p>
                                <strong ng-if="lang==='AR'">اسم المجموعة</strong>
                                <strong ng-if="lang==='EN'">Name</strong>
                                {{team.name}}
                            </p>
                            <hr>
                            <p>
                                <strong ng-if="lang==='AR'">عدد المستخدمون</strong>
                                <strong ng-if="lang==='EN'">Users Count</strong>
                                {{team.persons.length}}
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <button uib-tooltip="{{lang==='AR' ? 'انشاء مجموعة جديدة' : 'New...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE'])"
                                    ng-click="adminCtrl.newTeam();"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">add</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_TEAM_UPDATE'])"
                                    ng-click="ModalProvider.openTeamUpdateModel(team)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">edit</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_TEAM_DELETE'])"
                                    ng-click="adminCtrl.deleteTeam(team)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>

</div>