<div class="row" style="margin-top: 10px" ng-init="adminCtrl.fetchQuestionData()">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="adminCtrl.fetchQuestionData()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href=""
                           ng-if="contains(me.team.authorities, ['ROLE_QUESTION_CREATE'])"
                           ng-click="adminCtrl.newQuestion()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'انشاء سؤال جديد' : 'New Question...'}}">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">قائمة الاسئلة</h3>
                    <h3 ng-if="lang==='EN'">Questions List</h3>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table st-table="collection1" st-safe-src="adminCtrl.questions"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>

                            <th st-sort="content">
                                <span ng-if="lang==='AR'">السؤال</span>
                                <span ng-if="lang==='EN'">Question</span>
                            </th>

                            <th st-sort="description">
                                <span ng-if="lang==='AR'">وصف مختصر</span>
                                <span ng-if="lang==='EN'">Description</span>
                            </th>

                            <th st-sort="quiz.code">
                                <span ng-if="lang==='AR'">الاختبار</span>
                                <span ng-if="lang==='EN'">Quiz</span>
                            </th>

                            <th st-sort="lastUpdate">
                                <span ng-if="lang==='AR'">تاريخ آخر عملية</span>
                                <span ng-if="lang==='EN'">Last Action Date</span>
                            </th>

                            <th st-sort="lastPerson">
                                <span ng-if="lang==='AR'">بواسطة</span>
                                <span ng-if="lang==='EN'">Created By</span>
                            </th>

                        </tr>
                        <tr>
                            <th colspan="6">
                                <input st-search=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                       type="text"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="question in collection1"
                            ng-class="{'mdl-shadow--8dp-reverse' : question.isSelected}">
                            <td st-select-row-multi="question">{{$index+1}}</td>
                            <td st-select-row-multi="question">{{question.content}}</td>
                            <td st-select-row-multi="question">{{question.description}}</td>
                            <td st-select-row-multi="question">{{question.quiz.content}}</td>
                            <td st-select-row-multi="question">
                                <span ng-show="dateType==='H'">{{question.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{question.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                            </td>
                            <td st-select-row-multi="question">{{question.lastPerson.name}}</td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="question.isSelected" class="mdl-shadow--8dp">
                            <td colspan="6">
                                <div class="form-group row">
                                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.refreshQuestion(question)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">cached</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف السؤال' : 'Delete Question'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.deleteQuestion(question)"
                                            ng-if="contains(me.team.authorities, ['ROLE_QUESTION_DELETE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف اجابات السؤال' : 'Delete Question Answers'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.deleteAnswersByQuestion(question)"
                                            ng-if="contains(me.team.authorities, ['ROLE_ANSWER_DELETE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'اجابة جديدة' : 'New Answer'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="adminCtrl.newAnswer(question)"
                                            ng-if="contains(me.team.authorities, ['ROLE_ANSWER_CREATE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">lightbulb_outline</i>
                                    </button>
                                </div>
                                <div class="form-group row">

                                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                                        <div class="mdl-tabs__tab-bar">

                                            <a href="#panel-1-{{$index}}" class="mdl-tabs__tab is-active">
                                                <span ng-if="lang==='AR'">الاجابات</span>
                                                <span ng-if="lang==='EN'">Answers</span>
                                            </a>

                                        </div>

                                        <div class="mdl-tabs__panel is-active" id="panel-1-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table st-table="collectionQuestionAnswers"
                                                           st-safe-src="question.answers"
                                                           class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>

                                                            <th st-sort="content">
                                                                <span ng-if="lang==='AR'">الاجابة</span>
                                                                <span ng-if="lang==='EN'">Answer</span>
                                                            </th>

                                                            <th st-sort="lastUpdate">
                                                                <span ng-if="lang==='AR'">تاريخ آخر عملية</span>
                                                                <span ng-if="lang==='EN'">Last Action Date</span>
                                                            </th>

                                                            <th st-sort="lastPerson">
                                                                <span ng-if="lang==='AR'">بواسطة</span>
                                                                <span ng-if="lang==='EN'">Created By</span>
                                                            </th>

                                                            <th>Action</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="answer in collectionQuestionAnswers">
                                                            <td>{{$index+1}}</td>
                                                            <td>
                                                                <span class="label label-success" ng-if="answer.isAnswer">
                                                                    <span ng-if="lang==='AR'">اجابة صحيحة</span>
                                                                    <span ng-if="lang==='EN'">Right Answer</span>
                                                                </span>
                                                                <span class="label label-danger" ng-if="!answer.isAnswer">
                                                                    <span ng-if="lang==='AR'">اجابة خاطئة</span>
                                                                    <span ng-if="lang==='EN'">Wrong Answer</span>
                                                                </span>&nbsp;&nbsp;
                                                                <strong>{{answer.content}}</strong>
                                                            </td>
                                                            <td>
                                                                <span ng-show="dateType==='H'">{{answer.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                                <span ng-show="dateType==='G'">{{answer.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                                                            </td>
                                                            <td>{{answer.lastPerson.name}}</td>
                                                            <td>
                                                                <div class="form-group row">
                                                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                                                            tooltip-append-to-body="true"
                                                                            type="button"
                                                                            ng-click="adminCtrl.deleteAnswer(answer)"
                                                                            ng-if="contains(me.team.authorities, ['ROLE_ANSWER_DELETE'])"
                                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                                        <i class="material-icons">delete</i>
                                                                    </button>
                                                                    <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                                                                            tooltip-append-to-body="true"
                                                                            type="button"
                                                                            ng-click="adminCtrl.updateAnswer(answer)"
                                                                            ng-if="contains(me.team.authorities, ['ROLE_ANSWER_UPDATE'])"
                                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="blank_row"
                                                            style="height: 10px !important; background-color: #FFFFFF;"
                                                            ng-show="!collectionQuestionAnswers || collectionQuestionAnswers.length ==0">
                                                            <td colspan="4">
                                                                <strong>
                                                                    <a href=""
                                                                       ng-if="contains(me.team.authorities, ['ROLE_ANSWER_CREATE'])"
                                                                       ng-click="adminCtrl.newAnswer(question)">
                                                                        <span ng-if="lang==='AR'">اجابة جديدة...</span>
                                                                        <span ng-if="lang==='EN'">New Answer...</span>
                                                                    </a>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length ==0">
                            <td colspan="6">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="adminCtrl.toggleList===2">
        <div st-table="collection2" st-safe-src="adminCtrl.questions">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="question in collection2">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img width="100" height="100"
                                 src="/ui/img/no-image.jpg"
                                 alt="{{question.name}}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">
                                {{question.content}}
                            </div>
                        </div>
                        <div class="profile-controls">
                            <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                            <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="contact-info">
                            <p class="text-overflow-dots">
                                <strong ng-if="lang==='AR'">وصف السؤال</strong>
                                <strong ng-if="lang==='EN'">Description</strong>
                                {{question.description}}
                            </p>
                            <hr>
                            <p class="text-overflow-dots">
                                <strong ng-if="lang==='AR'">بواسطة</strong>
                                <strong ng-if="lang==='EN'">Created By</strong>
                                {{question.lastPerson.name}}
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <button uib-tooltip="{{lang==='AR' ? 'انشاء سؤال جديد' : 'New...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUESTION_CREATE'])"
                                    ng-click="adminCtrl.newQuestion();"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">add</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUESTION_UPDATE'])"
                                    ng-click="ModalProvider.openQuestionUpdateModel(question)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">edit</i>
                            </button>
                            <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-if="contains(me.team.authorities, ['ROLE_QUESTION_DELETE'])"
                                    ng-click="adminCtrl.deleteQuestion(question)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>

</div>